
body {
    background-color: hwb(67 85% 7%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
 
    flex-direction: column; 
    justify-content: center;
   
    min-height: 100vh;
  
}


h1 {
    color: hsl(305, 58%, 65%);
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: lab(46.71% 57.85 54.28);
    margin-bottom: 1.5em;
    max-width: 600px; 
}

ol {
    margin: 0 auto 2em auto;
    padding-left: 1.5em;
    font-size: 1.1rem;
    color: hsl(251, 90%, 43%);
 
}


img {
    width: 250px;
    border: 3px solid #2980b9;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5em;
}


a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}


a:hover {
    color: #1c5980;
    text-decoration: underline;
}