body{
    background-color: navi hwb(34 17% 11%);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.form-container{
    width: 300px;
    margin: 100px;
    padding: 20px;
    border: 1px solid #13dae0;
    border-radius: 10px;
    background: #f5f5f549;
    text-align: center;
}
input,select{
    width: 100px;
    padding: 8px;
    margin: 5px 0;
}
input [type="submit"]:hover{
    background: #bfe70a;
}